<html>
  <head>
    <meta charset="utf-8" />
    <title>module puppy</title>
  </head>
  <body>
                       __
                     .'  `.
                 _.-'/  |  \/-._
    ,        _.-"  ,|  /  a `-._'-._
    |\    .-"       `--""-.__.' '-._'-._
    \ `-'`        .___.--._)========'-._]
     \            .'      |             |
      |     /,_.-'        |             |
    _/   _.'(             |             |
   /  ,-' \  \            |             |
   \  \    `-'            |             |
    `-'              jgs  '-------------'



    <section>
    <h1>Examples:</h1>
    <code>
    /search.json?query=something
    /module/modulename.json
    </code>ยง
    </section>


    <footer>
      %p#copyright
        Copyright &copy;
        <%= Time.now.year %>
        <a href="http://www.newsfactory.se/">Newsfactory Media Group</a>
    </footer>
  </body>
</html>


